@media screen and (max-width: 1440px){
    .subtitleStickyStyle{
    font-size: 25px;
    }
    .zineLink{
        width: 190px;
    }
}
@media screen and (max-width: 1366px) {
    .promo{
        min-width: 1000px;
    }
    #buttons_footer{
        margin-top: 0px;
    }
}
@media screen and (max-width: 1024px){
    .videoBG{
        height: 100% !important;
        object-fit: cover !important;
    }
    .promo{
        min-width: 860px;
    }
    #buttons_footer{
        margin-top: -40px;
    }
    #logo{
        font-size: 32px;
    }
}
@media screen and (max-width: 768px){
    body{
        max-height: 100vh;
    }
    header{
        height: 37%;
        z-index: 9999999;
        width: 100%;
    }
    nav{
        height: 56px;
        overflow: hidden;
        position: fixed;
        top: 46px;
        left: 6%;
        flex-direction: column;
        align-items: flex-start;
        width: 88%;
        justify-content: normal;
        gap: 8%;
        /* background-color: black; */
        transition: all .15s;
    }
    .open_navigation{
         height: 40%;
         transition: all .15s;
    }
    .logo_and_toggle{
        align-self: center;
        margin-top: 1%;
        /* gap: 60%; */
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo{
        margin-top: 2%;
    }
    #navigation_buttons{
        justify-content: flex-start;
        flex-direction: column;
        margin-left: 5%;
}
    .toggle{
        line-height: 46px;
        width: auto;
        transition: all 1s;
    }
    .menu{
        height: 2px;
        background-color: white;
        width: 36px;
        display: inline-block;
        position: relative;
        top: -1px;
        vertical-align: middle;
        transition: all .15s ease;
    }
    .menu:before{
        content: '';
        height: 2px;
        background-color: white;
        width: 36px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -8px;
        vertical-align: middle;
        transition: all .15s ease;
    }
    .menu:after{
        content: '';
        height: 2px;
        background-color: white;
        width: 36px;
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: -8px;
        vertical-align: middle;
        transition: all .15s ease;
    }

    .open_menu > .menu:after{
        top: 0;
        transform: rotate(45deg);
        transition: .15s ease-in-out;
    }
    .open_menu > .menu:before{
        top: 0;
        transform: rotate(-45deg);
        transition: .15s ease-in-out;
    }
    .open_menu > .menu{
        background: transparent;
        transition: all .15s ease;
    }
    .videoBG{
        height: 100% !important;
        object-fit: cover !important;
    }
    .promo {
        min-width: 640px;
    }
    #buttons_footer{
        margin-top: -200px;
    }
}
@media screen and (max-width: 414px) {
    #logo{
        font-size: 34px;
    }
    .logo_and_toggle > a{
        align-self: center;
    }
    #navigation_buttons{
        margin-left: 5.5%;
    }
    header p {
        font-size: 30px;
    }
    .promo {
        min-width: 400px;
    }
}