@media screen and (max-width: 1440px){
    .box{
        width: 1200px;
        height: 640px;
    }
}
@media screen and (max-width: 1366px){
    .box{
        width: 1050px;
        height: 580px;
    }
    #navigation_buttons{
        gap: 7%;
    }
}
@media screen and (max-width: 1024px){
    .box{
        width: 850px;
        height: 472px;
    }
    #navigation_buttons{
        gap: 7%;
    }
    header p{
        font-size: 28px;
    }
    #logo{
        font-size: 34px;
    }
}
@media screen and (max-width: 768px){
    
    body{
        max-height: 100vh;
    }
    .videoBG{
        height: 100% !important;
        object-fit: cover !important;
    }
    .subtitleStickyStyle{
        font-size: 4vw;
    }
    .zine > img {
        height: 100vh;
        object-fit: cover;
    }
    .zineLink{
        width: 30vw;
    }
    header{
        height: 37%;
        z-index: 9999999;
        width: 100%;
    }
    nav{
        height: 56px;
        overflow: hidden;
        position: fixed;
        top: 46px;
        left: 6%;
        flex-direction: column;
        align-items: flex-start;
        width: 88%;
        justify-content: normal;
        gap: 5%;
        /* background-color: black; */
        transition: all .15s;
    }
    .content > video{
        width: 100%;
        object-fit: cover;
    }
    .content > img{
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .open_navigation{
         height: 50%;
         transition: all .15s;
    }
    .logo_and_toggle{
        align-self: center;
        margin-top: 1%;
        /* gap: 60%; */
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #navigation_buttons{
        justify-content: flex-start;
        flex-direction: column;
        margin-left: 5%;
        }
    .toggle{
        line-height: 46px;
        width: auto;
        transition: all 1s;
    }
    .menu{
        height: 2px;
        background-color: white;
        width: 36px;
        display: inline-block;
        position: relative;
        top: -1px;
        vertical-align: middle;
        transition: all .15s ease;
    }
    .menu:before{
        content: '';
        height: 2px;
        background-color: white;
        width: 36px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -8px;
        vertical-align: middle;
        transition: all .15s ease;
    }
    .menu:after{
        content: '';
        height: 2px;
        background-color: white;
        width: 36px;
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: -8px;
        vertical-align: middle;
        transition: all .15s ease;
    }
    .open_menu > .menu:after{
        top: 0;
        transform: rotate(45deg);
        transition: .15s ease-in-out;
    }
    .open_menu > .menu:before{
        top: 0;
        transform: rotate(-45deg);
        transition: .15s ease-in-out;
    }
    .open_menu > .menu{
        background: transparent;
        transition: all .15s ease;
    }
    #ex1{
        display: none;
    }
    .logo_and_toggle > a{
        align-self: center;
    }
}